// Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––
.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// For devices larger than 480px
@include mobile {
  .container {
    width: $container-width-mobile;
    padding: 0;
  }
}

// For devices larger than 640px
@include phablet {
  .container {
    width: $container-width-phablet;
  }

  .column {
    margin-left: $column-margin;

    &:first-child {
      margin-left: 0;
    }
  }

  .one.column,
  .one.column          { width: grid-column-width(1);  }
  .two.column          { width: grid-column-width(2);  }
  .three.column        { width: grid-column-width(3);  }
  .four.column         { width: grid-column-width(4);  }
  .five.column         { width: grid-column-width(5);  }
  .six.column          { width: grid-column-width(6);  }
  .seven.column        { width: grid-column-width(7);  }
  .eight.column        { width: grid-column-width(8);  }
  .nine.column         { width: grid-column-width(9);  }
  .ten.column          { width: grid-column-width(10); }
  .eleven.column       { width: grid-column-width(11); }
  .twelve.column       { width: 100%; margin-left: 0;  }

  .one-third.column     { width: grid-column-width(4);  }
  .two-thirds.column    { width: grid-column-width(8);  }

  .one-half.column      { width: grid-column-width(6);  }

  // Offsets
  .offset-by-one.column       { margin-left: grid-offset-length(1);  }
  .offset-by-two.column       { margin-left: grid-offset-length(2);  }
  .offset-by-three.column     { margin-left: grid-offset-length(3);  }
  .offset-by-four.column      { margin-left: grid-offset-length(4);  }
  .offset-by-five.column      { margin-left: grid-offset-length(5);  }
  .offset-by-six.column       { margin-left: grid-offset-length(6);  }
  .offset-by-seven.column     { margin-left: grid-offset-length(7);  }
  .offset-by-eight.column     { margin-left: grid-offset-length(8);  }
  .offset-by-nine.column      { margin-left: grid-offset-length(9);  }
  .offset-by-ten.column       { margin-left: grid-offset-length(10); }
  .offset-by-eleven.column    { margin-left: grid-offset-length(11); }
  .offset-by-one-third.column  { margin-left: grid-offset-length(4);  }
  .offset-by-two-thirds.column { margin-left: grid-offset-length(8);  }
  .offset-by-one-half.column   { margin-left: grid-offset-length(6);  }
}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
