/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: black;
    font: 14px Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; }

h1 { margin: 0; }
p { margin: 0 0 1em; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    line-height: 1.75em;
}

.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.hero {
    // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/hero-home.jpg');
    // background-image: url(https://dl.dropboxusercontent.com/u/60183450/featured01.jpg);
    background-image: url(https://dl.dropboxusercontent.com/u/60183450/values-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    padding: 5em 0;
}

// footer fix
.site {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.site-header,
.site-footer {
  flex: none;
}
.site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
// end footer fix




.site {
    font-size: 115%;
    line-height: 1.5em;
}

.site-header {
    background-color: #fff;
    // position: fixed;
    // width: 100%;
    // top: 0;
    // left: 0;
}

.site-header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    display: inline-block;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

.site-header {
    ul {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: inline-block;
        
        & + li {
            margin-left: 1em;
        }
    }

    a {
        color: #aaa;

        &:hover,
        &:focus {
            color: red;
        }
    }
}


.meta {
    color: #aaa;
}

.site-footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    p {
        margin: 0;
    }
}

.site-footer .contact {
    float: left;
    margin-right: 3em;
}

.site-footer .contact a {
    color: #8085C1;
}

.site-footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site-footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

// standard 
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

// terminal 
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}







