// Base files
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/elements";
@import "base/utils";
@import "base/typography";

// Components
@import "components/grid";
@import "components/hero";
@import "components/navigation";
@import "components/footer";
@import "components/buttons";
@import "components/forms";
@import "components/lists";
@import "components/tables";
@import "components/spacing";
@import "components/syntax";
@import "components/media-queries";

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

