// Base files
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

// Modules
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/_run_prettify";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";
// @import "syntax";

// Media queries - @include mobile { selector: style; }
@mixin mobile   { @media (min-width: #{$width_mobile})  { @content; } }
@mixin phablet  { @media (min-width: #{$width_phablet}) { @content; } }
@mixin tablet   { @media (min-width: #{$width_tablet})  { @content; } }
@mixin laptop   { @media (min-width: #{$width_laptop})  { @content; } }
@mixin desktop  { @media (min-width: #{$width_desktop}) { @content; } }
@mixin hdtv     { @media (min-width: #{$width_hdtv})    { @content; } }
@mixin nomobile { @media (max-width: #{$hidden_mobile}) { @content; } }

:root {
	--space: 50px;
}

body {
  background: #f4f4f4;
}


// html, body { height: 100%; }

.scrollup {
	display: none;
	position: fixed;
    bottom: 1em;
    right: 1em;
    background: teal;
    color: #fff;
    padding: .4em .8em;
    border-radius: 100px;
	text-decoration: none;
    font-size: 1em;
    line-height: 2em;
}

.hero {
    // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./img/hero-home.jpg');
    // background-image: url(https://dl.dropboxusercontent.com/u/60183450/featured01.jpg);
    background-image: url(https://dl.dropboxusercontent.com/u/60183450/values-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 5em 0;
}









.navbar-inner {
  @include laptop {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    height: 6.5rem;
  }
}


.navbar {
    ul {
      transition: all 0.3s ease-out;
        display: inline-block;
        float: right;
        // margin: 0;
        padding: 0;

        overflow: hidden;
        max-height: 0;

        @include laptop {
          max-height: none;
        }

        &.active-menu {
          max-height: 15em;
        }
    }

    li {
        list-style: none;
        display: inline-block;
        
        & + li {
            margin-left: 1em;
        }
    }

    a {
        color: #aaa;

        &:hover,
        &:focus {
            color: red;
        }
    }
}

.title {
    display: inline-block;
    
	a {
		color: #a00;
		text-decoration: none;
	}
}






// .display-none {
// 	display: none;
// }


// footer fix
.site {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.site-header,
.site-footer {
  flex: none;
}
.site-content {
  flex: 1 0 auto;
  // padding: var(--space) 0 0;
  padding-top: 2.5rem;
  width: 100%;
}
.site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
// end footer fix

// /*****************************************************************************/
// /*
// /* Homepage stuff
// /*
// /*****************************************************************************/




  .navbar,
  .navbar-spacer {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;   

    // &.active-menu {
    //   height: 265px;

    // }
  }
  // .navbar-spacer {

  //   height: 6.5rem;
  // }
    .navbar {
    	// background: rgba(255,0,0,0.5);
    	transition: .3s;
    }
  .navbar-spacer {
    display: none; }
  // .navbar > .container {
  //   width: 80%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link,
  .title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin: 0;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; 
    }
    .title {
      position: absolute;
      left: 10%;

      @include laptop {
        position: relative;
        left: auto;
      }
    }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block;
    // background: rgba(0,0,255,0.5); 
}


.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both;
}




.meta {
    color: #aaa;
}

.site-footer {
	padding: 2.5rem 0;
    font-size: 80%;
    color: #666;
    background-color: #eee;
    border-top: 1px solid #e5e5e5;

    p {
        margin: 0;
    }
}

.site-footer .contact {
    float: left;
    margin-right: 3em;
}

.site-footer .contact a {
    color: #8085C1;
}

.site-footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site-footer .rss img {
    border: 0;
}


.value {
	text-align: center;
}
.value-prop {
  margin-top: 1rem; }
.value-props {
	text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem; }
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }


.values {
  background-image: url('https://dl.dropboxusercontent.com/u/60183450/values-bg.jpg');
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 5rem 0;
}

.value-multiplier { 
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}















@media (max-width: 991px) {
  .navbar-list {
    background: #fff;
    border-bottom: 1px solid #eee;
    // border-top: none;
    margin-top: 0;
    position: relative;
    top: 6.5rem;
    // text-align: center;
    right: 0;


    width: 100%;
    // left: 50%;
    // margin-left: -500px;
  }

  // .navbar {
  //   height: auto;
  // }

  .navbar .navbar-item {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #eee;
    float: none;
  }
}










$hamburger_width: 3rem;       // width of button area
$hamburger_height: 6.5rem;      // height of button area
$hamburger_bar: .2rem;        // thickness of button bars
$hamburger_pad: 0;       // left/right padding between button area and bars.
$hamburger_bar_space: .5rem;     // spacing between button bars

$transistion_duration: .3s;
$hamburger_color: #333; // not explaining this one
$hamburger_color_active: #555;

.hamburger {
  display: block;
  // float: right;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 9000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $hamburger_width;
  height: $hamburger_height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @include laptop {
    display: none;
  }

  // @include laptop {
  //  display: none;
  // }

  span {
    display: block;
    position: absolute;
    top: ($hamburger_height / 2) - ($hamburger_bar / 2);
    left: $hamburger_pad;
    right: $hamburger_pad;
    height: $hamburger_bar;
    background-color: $hamburger_color;
    transition-duration: $transistion_duration;
    // transition-delay: $transistion_duration;

    &::before, 
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $hamburger_bar;
      background-color: $hamburger_color;
      content: "";
      transition-duration: $transistion_duration;
      // transition-delay: $transistion_duration;
    }
    
    &::before {
      top: -$hamburger_bar - $hamburger_bar_space;
      transition-property: top, transform;
    }

    &::after {
      bottom: -$hamburger_bar - $hamburger_bar_space;
      transition-property: bottom, transform;
    }
  }
}

/* active state, i.e. menu open */

button.hamburger.is-active {
  background-color: transparent;
  // position: fixed;
  // top: 0;
  // right: 15px;

}

button.hamburger.is-active span {
  background-color: $hamburger_color_active;
  transform: rotate(-225deg);
}

.hamburger.is-active span::before {
  background-color: $hamburger_color_active;
  top: 0;
  transform: rotate(90deg);
}

.hamburger.is-active span::after {
  background-color: transparent;
  bottom: 0;
  transform: rotate(-0deg);
}

.hamburger.is-active span::before,
.hamburger.is-active span::after {
  transition: $transistion_duration;
  // transition-delay: $transistion_duration;
}

button.hamburger,
button.hamburger:hover,
button.hamburger:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}










